<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPrivacyTracking</key>
	<false/>
	<key>Privacy Accessed API Types
Privacy Accessed API Types
</key>
	<array>
		<dict>
			<key>Privacy Accessed API Type</key>
			<string>Camera</string>
			<key>Privacy Accessed API Type Reasons</key>
			<array>
				<string>CA92.1
</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
